# Legacy gitignores
notes.txt
demo.c
demo

# Development
.vscode/
*.o

# Windows Helpers & Outputs (Forbidden by Norm)
*.bat
fract-ol.exe

# UNIX Outputs
a.out
fract-ol
*.a

# MacOS
.DS_Store
demo.dSYM
